*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.326)), url("../img/bakgrundgreen.gif");
    background-color: #4e593a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
  }

  .navbar{
    background-color: #4e593a;
    border-bottom: 5px solid #637049;
  }

  /* Dropdown Button */
.dropbtn {
  background-color: #4e593a;
  color: white;
  padding: 5px;
  padding-left: 10px;
  font-size: 5px;
  border: none;
  cursor: pointer;
  font-size: 50px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
  background-color: #4e593a;
  color: #e2ffab;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #718055;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.lista{
  backdrop-filter: blur(1px);
  position: sticky;
  top: 0;
  align-self: start;
  text-align: left;
  padding-left: 15px;
  list-style-type: none;
}

#lista1{
  background: linear-gradient(#6d7b5356 , #677a4477);
}

.lista a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.lista li{
  padding-top: 15px;
  padding-left: 5px;
}

.lista a:hover {color:#e2ffab}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 189px;
  object-fit: cover;
  overflow: hidden;
}

.spelbild{
  object-fit: cover;
height: 189px;
  object-position: 100% 0;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.innehall{
  backdrop-filter: blur(1px);
  background: #97ac706b;
  color: #1a1e14;
  border: 3px solid #5c7b2372;
}
.titel{
  padding: 5px;
  padding-bottom: 0;
  font-size: 35px;
}

.text1{
  font-size: 23px;
  padding: 5px;
}

.vinorna{
  max-width: 100%;
}

.sangbild{
  max-width: 100%;
}

footer {
  padding:40px 0;
  background-color: #0000005c;
}

footer .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#ffffff71;
  margin-bottom:0;
}

/* anpassning till mobil */

@media screen and (max-width: 770px){

.vinorna{
  display: none;
}
}

@media screen and (max-width: 400px){

  #lista1{
    display: none;
  }

  .innehall{
    padding-left: 10px;
    padding-right: 10px;
  }

.titel{
  font-size: 27px;
}

  .text1{
    font-size: 20px;
  }

}

/* här börjar style för andra sidan*/

.navbar2{
  background-color: #526373;
  border-bottom: 5px solid rgb(129, 133, 172);
}

  /* Dropdown Button */
  .dropbtn2 {
    background-color: #526373;
    color: white;
    padding: 5px;
    padding-left: 10px;
    font-size: 5px;
    border: none;
    cursor: pointer;
    font-size: 50px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn2:hover {
    background-color: #526373;
    color: #bad3ea;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown2 {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #718055;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content2 a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content2 a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .body-somn{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.326)), url("../img/bakgrund2.gif");
    background-color: #526373;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
  }

  #clock {
    font-size: 175px;
    width: 900px;
    margin: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
  }

  